<div class="card grey hoverable darken-1">
    <div class="card-image">
        <img src="{{this.articleImage}}">
        <span class="card-title">{{this.articleTitle}}</span>
        <a class="btn-floating hoverable halfway-fab waves-effect waves-light orange accent-2"><i class="material-icons" title="Save article">add</i></a>
    </div>
    <div class="card-content white-text">
        <p>{{this.articleSummary}}</p>
    </div>
    <div class="card-action">
        <a href="{{this.articleLink}}">More Information</a>
    </div>
</div>