<div class="row">
    <nav>
        <div class="col s12 m12 l12 nav-wrapper orange accent-2">
            <a href="#" class="brand-logo">News You Can Use</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="#">Get News</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="col s12 m12 l12">

        <div class="returned-articles">
            {{#each article}} {{> news_card}} {{/each}}
        </div>
    </div>
</div>