<h1>News You Can Use!</h1>
<ul>
    <lh id="newsArticle">{{#each article}}
        <li class="returnedArticles">
            <p>
                <a href="{{this.articleLink}}">{{this.articleTitle}}</a>
            </p>
            <p>
                <span class="articleSummary">Summary: </span>
                <span>{{this.articleSummary}}</span>
            </p>
            <p>
                <img src="{{this.articleImage}}" class="articleImage">
            </p>
        </li>
        <br>
    </lh>
    {{/each}}
</ul>