<div class="row">
    <div class="col s12 m12 l12 news-image-banner">
        <div class="news-image-banner header white-text">NEWS YOU CAN USE</div>
        <div class="news-image-banner summary white-text">a web app that utilizes Mongoose and Cheerio to scrape articles from news sites.</div>
        <img src="/assets/images/cup-of-coffee.png" alt="newspaper, coffee cup, and eyeglasses sitting on a table" srcset="">
    </div>
</div>

<div class="row">
    <div class="col s12 m12 l12">

        <div class="returned-articles">
            {{#each article}} {{> news_card}} {{/each}}
        </div>
    </div>
</div>