body {
    background: #000000;
}

.row>.col {
    padding: 0px;
}

.news-image-banner img {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.news-image-banner.header {
    position: absolute;
    font-size: 400%;
    bottom: 25%;
    left: 10%;
    z-index: 2;
}

.news-image-banner.summary {
    position: absolute;
    bottom: 20%;
    left: 10%;
    z-index: 2;
}

.returned-articles {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 50px;
    width: 350px;
    position: relative;
}

.card .card-title {
    font-weight: 800;
    text-shadow: 1px 1px #000000;
}

.card-image img {
    opacity: .7;
}